$background-color:#800020;
$purple:#585481;
$light: #bbb6df;
$font:#f4f3ee;
$dark-color:#2C2828;

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $dark-color
}

// @import './navBar';
@import './banner.scss';
@import './timeline.scss';
@import './skills.scss';
@import './contactForm.scss';
@import './footer';  





